<footer>
    <div class="row">
        <div class="col-lg-12">

            <ul class="list-inline">
                <li class="pull-right"><a href="#top">返回顶部</a></li>
                <!--<li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>-->
                <!--<li><a href="https://twitter.com/bootswatch">Twitter</a></li>-->
                <!--<li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>-->
                <!--<li><a href="../help/#api">API</a></li>-->
                <!--<li><a href="../help/#support">Support</a></li>-->
            </ul>

        </div>
    </div>

  <div class="row">
    <div class="col-lg-12">
      <div style="font-size: 12px;color: #999;margin: 0 auto;width: 100%;text-align: center;padding: 20px 0;">
        <span>Copyright&copy; 2018-<%= DateTime.now.year%> www.huayumaomi.cn All rights reserved.</span>
        <a class="foot_font" href="javascript:void(0)">花雨猫咪俱乐部 北京沁润汇涌商贸有限公司 版权所有</a>
        <span>备案号：京ICP备<a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">18025329</a>号-1</span>&nbsp;
      </div>
    </div>
  </div>

</footer>